.App {
  text-align: center;
  margin: 10px;
}

img {
  height: 5%;
  width: 5%;
}

.game {
  background-color: rgba(47, 44, 44, 0.538);
  width: 50%;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
}
.gamedetail {
  display: flex;
  justify-content: space-evenly;
 
}
